* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
}
html {
  font-family: "Quicksand", sans-serif;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: space-between;

  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
}
.header .container h1 a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.header__right {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.header__search i {
  top: 17px;
  right: 10px;
}
.header__search {
  display: flex;
}
.header__search input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
}
.header .label {
  margin: 0;
  padding-top: 13px;
}
.header .label i {
  font-size: 20px;
  transform: rotate(-20deg);
  color: white;
  visibility: visible;
  position:relative;
}
.header .label i i {
  position:absolute;
  top:0;
  left:0;
  visibility: hidden;
}
.header button {
  padding-bottom: 5px;
  background: transparent;
  border: none;
  font-size: 30px;
  color: white;
}
/* Overlay */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0.9);
  opacity: 1;
  visibility: hidden;
  transition: all 0.2s linear 0s;
}

.overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.overlay a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding: 10px 0;
  color: white;
  font-weight: 600;
}

.overlay a:hover,
.overlay a:focus {
  color: #ff6600;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 10;
}
/* banner */
.banner {
  
  height: 720px;
  background-image: url(../images/TourDaiLoan.jpeg);
  background-position: initial;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}
.banner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ff6600, transparent);
}
.banner .container {
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 0;
  padding-right: 35rem;
}
.banner h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 24px;
}
.banner p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.banner button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: bolder;
  transition: 0.3s ease-in;
  border-radius: 5px;
  margin-top: 48px;
}
.banner button:hover {
  background: white;
  color: #ff6600;
}
/* intro */
.intro {
  padding: 96px 0;
}
.intro .container {
  display: flex;
}
.intro__left {
  width: 40%;
}
.intro__left h1:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.intro__left h1:last-child {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.intro__right {
  width: 60%;
  padding-left: 60px;
}
.intro__right p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
}
/* agent */
.agent__content {
  padding: 64px 72px;
}
.agent__img {
  overflow: hidden;
  position: relative;
}
.agent__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.agent__img:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #100f1375;
}
.agent__content {
  background-color: #ff6600;
}
.agent__detail h1:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: white;
  display: block;
  font-family: "Pacifico", cursive;
}
.agent__detail h1:nth-child(2) {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.agent__detail p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 1rem;
}
.agent__list {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
}
.agent__item {
  width: 48%;
}

.agent__icon i {
  background: white;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 7px;
  color: #ff6600;
  font-size: 25px;
  transition: 0.4s;
  margin-bottom: 1.5rem;
}
.agent__item:hover i {
  color: #ffc600;
}
.agent__item a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  margin-bottom: 15px;
}
.agent__item p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
}
/* category */
.category {
  text-align: center;
  padding: 96px 0;
  background: #f7f7f7;
}
.category .container {
  padding-left: 0;
  padding-right: 0;
}
.category h1:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
  margin-bottom: 0;
}
.category h1:nth-child(2) {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 3rem;
}
.category__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 30px;
}
.category__item {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.category__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.category__item img {
  width: 100%;
  transition: all 0.4s linear;
}
.category__item:hover img {
  opacity: 0.85;
}
.category__detail {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 40px;
  z-index: 10;
  line-height: 25px;
}
.category__detail a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}
.category__detail span {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: left;
}
/* menu */
.menu {
  background: #fbfbfb;
  padding: 96px 0;
}
.menu .container {
  padding: 0;
  max-width: 1170px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  width: calc(100% / 3);
  padding: 15px 15px;
}
.menu__item__content {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: white;
  border: 1px solid #ffffff1a;
  position: relative;
}
.menu__item__heading {
  display: flex;
}
.menu__item__heading i {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  font-size: 25px;
  color: #ff6600;
  background-color: #8273fc0d;
  transition: all 0.3s ease-in-out;
  margin-right: 42px;
}
.menu__item:hover i {
  background: #ff6600;
  color: white;
}
.menu__item__info p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.menu__item__info a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
}
.menu__item__info a:hover {
  color: #ff6600;
}
.menu__item__content > p {
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
}
/* contact */
.contact {
  background-image: url(../images/du-lich-nuoc-ngoai.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 480px;
  text-align: center;

  position: relative;
}
.contact::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.contact__content {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-left: 240px;
  padding-right: 240px;
}
.contact h1 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 48px;
}
.contact__btn button:first-child {
  margin-right: 25px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;

  padding: 12px 45px;
  transition: 0.3s ease-in;
}
.contact__btn button:first-child:hover {
  color: #ff6600;
  background: #ffffff;
}
.contact__btn button:last-child {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
}
.contact__btn button:last-child:hover {
  opacity: 0.8;
}
/* statistic */
.statistic {
  margin-top: -70px;
  z-index: 50;
  position: relative;
}
.statistic__item {
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  transition: 0.3s ease;
  background-color: white;
  border-radius: 10px;
}
.statistic__item:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.statistic__item i {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.statistic__item .counter-value {
  font-size: 2.6em;
  font-weight: 600;
  color: #232121;
  margin-top: 1rem;
}
.statistic__item p {
  text-transform: capitalize;
  color: rgb(22 28 45 / 70%);
  font-weight: 600;
  margin-bottom: 0;
}
/* video */
.video {
  padding: 48px 0;
}
.video__content {
  background-image: url(../images/du-lich-nuoc-ngoai.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  height: 500px;
}
.video__content::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.53);
}
.video__content button {
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  border: none;
  animation-name: fadeCircle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  transition: all 0.2s linear;
}
.video__content button:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background-color: #ff6600;
}
.video__content button:hover i {
  color: white;
}
.video__content button i {
  color: #ff6600;
}
/* blog */
.blog {
  padding: 48px 0;
  background-color: #f7f7f7;
}
.blog__heading {
  text-align: center;
}
.blog__heading h1:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.blog__heading h1:nth-child(2) {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.blog .row {
  margin-top: 48px;
}
.blog__item__content a img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.blog__img__detail {
  transform: translate(10px, -40px);
}
.blog__img__detail a {
  background: #ff6600;
  color: #fff;  
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;

  letter-spacing: 0.05em;
}
.blog__img__detail i {
  margin-right: 7px;
}
.blog__img__detail span {
  color: goldenrod;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.blog__head__a {
  text-decoration: none;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
}
.blog__head__a:hover {
  text-decoration: none;
  color: black;
}
.blog__item__content p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
  margin-top: 15px;
}
.blog__maker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.blog__maker img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blog__maker span {
  font-weight: 700;
  color: #232121;
  letter-spacing: 0.02em;
  transform: translateX(-45px);
}
.blog__maker a {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #232121;
}
.blog__maker a:hover {
  text-decoration: none;
  color: #ff6600;
}

/* slider */
.slider {
  text-align: center;
  padding: 96px 0;
}
.slider__heading h1:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.slider__heading h1:last-child {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.slider .item {
  text-align: center;
  padding: 0 205px;
}
.slider .item a {
  height: 85px;
  width: 85px;
  display: block;
  margin: 0 auto;
}
.slider .owl-carousel .owl-item img {
  width: 100%;
  display: inline;
  border-radius: 50%;
}
.slider .item p:nth-child(2) {
  font-size: 50px;
  margin-bottom: -20px;
  color: #ff6600;
}
.slider .item h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.slider .item .comment {
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
}
.slider .item .name {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}
.slider .item p:last-child {
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 32px;
}
.slider .owl-nav {
  display: none;
}
.slider .owl-theme .owl-dots .owl-dot.active span,
.slider .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ff6600;
}
/* footer */
.footer {
  background-color: black;
  padding-top: 72px;
}
.footer .container {
  padding: 0;
  max-width: 1170px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
}
.footer__item:first-child,
.footer__item:last-child {
  width: 33%;
}
.footer__item:nth-child(2),
.footer__item:nth-child(3) {
}
.footer__item h1 a {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}
.footer__item h1 a:hover {
  color: #ff6600;
}
.footer__item h1 {
  color: white;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
}
.footer__item p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer__item a i {
  height: 36px;
  width: 36px;
  line-height: 36px;
  background: white;
  text-align: center;
  color: #ff6600;
  border-radius: 7px;
  margin-right: 10px;
}
.footer__item ul {
  list-style-type: none;
  color: #a5a2a1;
}
.footer__item ul li {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 26px;
}
.footer__item ul li a {
  color: #a5a2a1;
}
.footer__item ul li a:hover {
  color: #ff6600;
  text-decoration: none;
}
.footer__item input {
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  color: #161c2db3;
  border-radius: 5px;
  margin-bottom: 15px;
}
.footer__item button {
  width: 100%;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background: #ff6600;
  color: white;
  transition: 0.3s ease-in;
}
.copyright {
  display: flex;
  margin-top: 72px;
}
.copyright p {
  align-self: center;
  color: #ddd;
  font-size: 17px;
  width: 60%;
}
.copyright p a {
  color: #ff6600;
}
.copyright p a:hover {
  color: white;
  text-decoration: none;
}
.copyright__extra {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-left: 55px;
}
.copyright__extra a {
  margin-right: 20px;
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.copyright__extra a:hover {
  text-decoration: none;
  color: #ff6600;
}

/* sidebar */
.header__sidebar {
  position: fixed;
  right: 0;
  top: 45px;
  z-index: 50;
  /* transform: translateY(100%); */
  background-color: #0d1326;
  color: #e6ebff;
  text-align: center;
  border-radius: 10px;

  padding-top: 10px;
  padding-bottom: 20px;
}
.header__sidebar .sidebar-first-item a {
  color: #e6ebff;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}
.header__sidebar .sidebar-first-item i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #868993;
  border-radius: 50%;
  font-size: 16px;
  /* text-align:center; */
  margin-bottom: 30px;
}
.header__sidebar a {
  color: #868993;
  font-size: 16px;
  text-decoration: none;
}
.header__sidebar a:hover {
  color: white;
}
.header__sidebar i {
  margin-bottom: 5px;
}
.sidebar__item:nth-child(2)::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 74px;
  left: 0;
  background-color: #868993;
  opacity: 0.5;
}
.sidebar__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 0 10px;
}
.sidebar-first-item {
  margin-bottom: 0;
  opacity: 0;
}
.header__sidebar {
  right: 0;
  top: 70px;
}
/* double right */
/* double__right */
.double__right {
  position: fixed;
  top: 80px;
  right: 23px;
  z-index: 500;
}
.double__right a {
  color: #e6ebff;
  opacity: 0.5;
}
.double__right i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  text-align: center;
  color: #e6ebff;

  border-radius: 50%;
}
/* scroll to top */
.scroll__top {
  position: fixed;
  bottom: 75px;
  right: 18px;
  z-index: 5;
}
.scroll__top__content button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #ff6600;
  color: white;
}
/* responsive */
@media screen and (max-width: 1200px) {
  .banner .container {
    padding-right: 300px;
  }
  .header__right {
    width: 37%;
  }
  .banner h1 {
    font-size: 48px;
    line-height: 58px;
  }
  .overlay-content {
    height: initial;
    margin-top: 100px;
  }
  .intro__left h1:last-child {
    font-size: 32px;
    line-height: 40px;
  }
  .footer .container {
    padding: 0px 47px;
  }

  .footer__item:first-child,
  .footer__item:last-child {
    width: 28%;
  }
  .copyright__extra {
    padding-left: 110px;
  }
  .copyright__extra a {
    text-align: right;
    margin-right: 22px;
  }
}
@media screen and (max-width: 992px) {
  .banner .container {
    padding-right: 125px;
  }
  .banner h1 {
    font-size: 44px;
  }
  .header__right {
    width: 47%;
  }
  .intro .container {
    flex-direction: column;
    align-items: center;
  }
  .intro__left {
    width: initial;
    margin-bottom: 24px;
  }
  .intro__right {
    width: initial;
    padding-left: 0;
  }
  .agent {
    flex-direction: column;
  }
  .agent__img {
    width: 100% !important;
  }
  .agent__content {
    width: 100% !important;
  }
  .agent__detail h1:nth-child(2) {
    font-size: 32px;
    line-height: 40px;
  }
  .category__list {
    grid-template-columns: 1fr 1fr;
  }
  .category h1:nth-child(2) {
    font-size: 32px;
    line-height: 40px;
  }

  .menu__list {
    margin-left: 55px;
  }
  .menu__item {
    width: 47%;
  }
  .contact {
    height: 350px;
  }
  .contact__content {
    padding-left: 0;
    padding-right: 0;
  }
  .contact h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .statistic {
    margin-top: 0;
    padding: 48px 0;
  }
  .blog__item__content {
    margin-bottom: 50px;
  }
  .blog__heading h1:nth-child(2) {
    font-size: 32px;
    line-height: 40px;
  }
  .blog__head__a {
    font-size: 20px;
    line-height: 30px;
  }
  .slider .item {
    padding: 0;
  }
  .footer__list {
    flex-wrap: wrap;
    justify-content: initial;
    padding: 0 40px;
  }
  .footer__item:first-child,
  .footer__item:last-child {
    width: 50%;
    padding-right: 30px;
  }
  .footer__item {
    width: 50%;
  }
  .copyright {
    display: initial;
  }
  .copyright p {
    text-align: center;
    width: initial;
  }
  .copyright__extra {
    padding-left: 0;
    width: initial;
    justify-content: initial;
  }
}
@media screen and (max-width: 768px) {
  .header__right {
    width: 65%;
  }
  .banner .container {
    padding-right: 0;
  }
  .banner h1 {
    font-size: 40px;
  }
  .intro {
    padding: 48px 0;
  }
  .agent__content {
    padding: 40px 31px;
  }
  .menu {
    padding: 48px 0;
  }
  .menu__list {
    margin-left: 0;
    padding: 0px 80px;
  }
  .menu__item {
    width: 100%;
  }
  .contact__content {
    padding-top: 75px;
  }
  .statistic__item {
    margin-bottom: 30px;
  }
  .footer__item:first-child,
  .footer__item:last-child {
    margin-bottom: 40px;
    width: 60%;
    padding-right: 25px;
  }
  .footer__item {
    margin-bottom: 40px;
    width: 40%;
  }
  .footer__item h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  p {
    font-size: 16px !important;
  }
  .container {
    overflow: hidden;
  }
  .header .container {
    padding-left: 30px;
    padding-right: 50px;
  }
  .header__search {
    display: none;
  }
  .header__right {
    width: 17%;
  }
  .header button {
    margin-left: 10px;
  }
  .banner .container {
    padding-left: 30px;
  }
  .banner h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .intro__left h1:first-child {
    font-size: 16px;
  }
  .intro__left h1:last-child {
    font-size: 26px;
    line-height: 36px;
  }
  .intro__right p {
    font-size: 16px;
    line-height: 26px;
  }
  .agent__detail h1:first-child {
    font-size: 16px;
  }
  .agent__detail h1:nth-child(2) {
    font-size: 26px;
    line-height: 36px;
  }
  .agent__detail p {
    font-size: 16px;
  }
  .agent__item a {
    font-size: 18px;
  }
  .agent__item p {
    font-size: 16px;
  }
  .category__list {
    padding: 0 10px;
  }
  .category__detail {
    padding-left: 25px;
    padding-bottom: 20px;
    line-height: 16px;
  }
  .category__detail a {
    font-size: 18px;
    line-height: 28px;
  }
  .menu__list {
    padding: 0;
  }
  .menu__item__heading {
    margin-bottom: 15px;
  }
  .contact {
    height: 300px;
  }
  .contact h1 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 24px;
  }
  .contact__btn {
    display: flex;
    padding: 0 12px;
  }

  .contact__btn button:first-child {
    width: 50%;
    padding: 10px 21px;
    margin-right: 8px;
  }
  .contact__btn button:last-child {
    width: 50%;
    padding: 10px 21px;
  }
  .blog__heading h1:first-child {
    font-size: 16px;
  }
  .blog__heading h1:nth-child(2) {
    font-size: 26px;
    line-height: 36px;
  }
  .slider {
    padding: 48px 0;
  }
  .slider__heading h1:first-child {
    font-size: 16px;
  }
  .slider__heading h1:last-child {
    font-size: 26px;
    line-height: 36px;
  }
  .slider .item p:nth-child(2) {
    font-size: 50px !important;
  }
  .slider .item h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .slider .item .name {
    font-size: 20px !important;
  }
  .slider .item p:last-child {
    font-size: 18px !important;
    opacity: 0.8;
  }
  .footer .container {
    padding: 0 20px;
  }
  .footer__list {
    padding: 0;
  }
  .footer__item:first-child,
  .footer__item:last-child {
    width: 100%;
    padding-right: 0;
  }
  .footer__item {
    width: 48%;
  }
}
body.dark {
  background: #232220;
}
body.dark p {
  color: #c2d0da;
}
body.dark .banner p {
  color:#ffffff;
}
body.dark .header__search input {
  background-color: #232220;
}
body.dark .header__search i {
  color: #c2d0da;
}
body.dark .intro__left h1:last-child {
  color: #eee;
}
body.dark .agent__detail h1:nth-child(2) {
  color: #eee;
}
body.dark .agent__detail p {
  color: #ffdfc9;
}
body.dark .agent__item a {
  color: #eee;
}
body.dark .agent__item p {
  color: #ffdfc9;
}
body.dark .category {
  background-color: #282828;
}
body.dark .category h1:nth-child(2) {
  color: #eee;
}
body.dark .menu {
  background-color: #232220;
}
body.dark .menu__item__content {
  background-color: #232220;
}
body.dark .menu__item__info a {
  color: #eee;
}
body.dark .statistic__item {
  background-color: #232320;
}
body.dark .statistic__item .counter-value {
  color: #eee;
}
body.dark .blog{background-color: #282828;
}
body.dark .blog__heading h1:nth-child(2){
  color:#eee;
}
body.dark .blog__head__a{
  color: #eee;
}
body.dark .blog__maker span{
  color :#eee;
}
body.dark .blog__maker a{
  color:#eee;
}
body.dark .slider__heading h1:last-child{
  color:#eee;
}
body.dark .slider .item h1{
  color:#eee;
}
body.dark .slider .item .comment{
  color:#c2d0da;
}
body.dark .slider .item .name{
  color: #eee;
}
/* animation */
@keyframes fadeCircle {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}
